<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Accomodations</h2>
        <ol class="breadcrumb">
            <li>
              {{#link-to "customers.dashboard"}}Dashboard{{/link-to}}
            </li>
            <li class="active">
              {{#link-to "customers.accomodations"}}<strong>Accomodations</strong>{{/link-to}}
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-xs-12">
        <div class="row m-b-md">
            <div class="col-xs-12 text-right">
              {{#link-to "customers.accomodations.new" class="btn btn-primary"}}Add Accomodation{{/link-to}}
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">
               <table class="table table-striped">
                    <thead>
                      <tr>
                          <th>Name</th>
                          <th>Address 1</th>
                          <th>Address 2</th>
                          <th>City</th>
                          <th>Zip</th>
                          <th>Type</th>
                          <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    {{#each model as |accomodation|}}
                        <tr>
                            <td>{{accomodation.name}}</td>
                            <td>{{accomodation.address_1}}</td>
                            <td>{{accomodation.address_2}}</td>
                            <td>{{accomodation.city}}</td>
                            <td>{{accomodation.zip}}</td>
                            <td>{{accomodation.accomodation_type.name}}</td>
                            <td>
                              {{link-to 'Edit' "customers.accomodations.edit" accomodation.id
                                class="btn btn-primary btn-xs"}}
                              {{link-to 'Show' "customers.accomodations.show" accomodation.id
                                class="m-l-sm btn btn-primary btn-xs"}}
                            </td>
                        </tr>
                    {{/each}}

                    </tbody>
               </table>
            </div>
        </div>
    </div>
</div>

</div>

{{outlet}}