<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Accomodations</h2>
        <ol class="breadcrumb">
            <li>
              {{#link-to "customers.dashboard"}}Dashboard{{/link-to}}
            </li>
            <li>
              {{#link-to "customers.accomodations"}}Accomodations{{/link-to}}
            </li>
            <li class="active">
                <strong>{{model.name}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="p-w-md m-t-sm">
    <div class="row text-center m-b-lg">
        <div class="col-xs-6">
            <div class="widget yellw-bg no-padding">
              {{chart.chart-widget labels=model.meta.labels chart_data=model.meta.data-temperature unit='°C' type='bar'}}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="widget yellw-bg no-padding">
              {{chart.chart-widget labels=model.meta.labels chart_data=model.meta.data-no-2 unit='NO2' type='bar'}}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="widget yellw-bg no-padding">
              {{chart.chart-widget labels=model.meta.labels chart_data=model.meta.data-co-2 unit='CO2' type='bar'}}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="widget yellw-bg no-padding">
              {{chart.chart-widget labels=model.meta.labels chart_data=model.meta.data-electricity unit='kWh' type='bar'}}
            </div>
        </div>


      {{#if (eq model.control_type.name 'temperature')}}
        {{chart.chart-widget labels=model.meta.labels data=model.meta.data unit='°C' type='line'}}
      {{else if (eq model.control_type.name 'no_2')}}
        {{chart.chart-widget labels=model.meta.labels data=model.meta.data unit='NO2' type='line'}}
      {{else if (eq model.control_type.name 'co_2')}}
        {{chart.chart-widget labels=model.meta.labels data=model.meta.data unit='CO2' type='line'}}
      {{else if (eq model.control_type.name 'electricity_socket')}}
        {{chart.chart-widget labels=model.meta.labels data=model.meta.data unit='kWh' type='line'}}
      {{/if}}

    </div>
    <div class="row m-b-md">
        <div class="col-xs-12 text-right">
          {{#link-to 'customers.spaces.new' class='btn btn-primary'}}Add Space{{/link-to}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        <strong>{{model.name}}</strong>
                        Space list
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                  <th>Space Name</th>
                                  <th>Space Type</th>
                                  <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                            {{#each model.spaces as |space|}}
                                <tr>
                                    <td>{{space.name}}</td>
                                    <td>{{space.space_type.name}}</td>
                                    <td>
                                      {{#link-to
                                         "customers.spaces.show"
                                         space.id
                                         class="btn btn-xs btn-primary"}}
                                        Show
                                      {{/link-to}}
                                      {{#link-to "customers.spaces.edit"
                                         space.id
                                         class="btn btn-xs btn-primary m-l-sm"}}
                                        Edit
                                      {{/link-to}}
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{{outlet}}
