<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Spaces</h2>
        <ol class="breadcrumb">
            <li>
              {{#link-to "customers.dashboard"}}Dashboard{{/link-to}}
            </li>
            <li>
              {{#link-to "customers.spaces"}}Spaces{{/link-to}}
            </li>
            <li class="active">
                <strong>{{model.name}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="p-w-md m-t-sm">
    <div class="row text-center m-b-lg">
        {{#each model.meta.data as |control|}}
            <div class="col-xs-2 m-t-sm">
                <h5 class="m-b-xs">{{control.name}}</h5>
                <h1 class="no-margins">{{control.type}}</h1>
              {{#if control.avg }}
                  <div class="font-bold text-navy">{{control.avg}} AVG</div>
              {{/if}}
            </div>
        {{/each}}
    </div>
    <div class="row m-b-md">
        <div class="col-xs-12 text-right">
          {{#link-to 'customers.controls.new' class='btn btn-primary'}}Add Control{{/link-to}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        <strong>{{model.name}}</strong>
                        Controls list
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Control Name</th>
                                <th>Control Type</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each model.controls as |control|}}
                                <tr>
                                    <td>{{control.name}}</td>
                                    <td>{{control.control_type.name}}</td>
                                    <td>
                                      {{#if (not_eq control.control_type.name 'light_switch')}}
                                        {{#link-to
                                        "customers.controls.show"
                                        control.id
                                        class="btn btn-xs btn-primary"}}
                                            Show
                                        {{/link-to}}
                                      {{/if}}
                                      {{#link-to "customers.controls.edit"
                                      space.id
                                      class="btn btn-xs btn-primary m-l-sm"}}
                                          Edit
                                      {{/link-to}}
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{outlet}}
