<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Controls</h2>
        <ol class="breadcrumb">
            <li>
              {{#link-to "customers.dashboard"}}Dashboard{{/link-to}}
            </li>
            <li>
              {{#link-to "customers.controls"}}Controls{{/link-to}}
            </li>
            <li class="active">
                <strong>{{model.name}}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="p-w-md m-t-sm animated fadeInRight">
    <div class="row text-center m-b-lg">
        <div class="col-xs-12">
            <div class="widget yellw-bg no-padding">
              {{#if (eq model.control_type.name 'temperature')}}
                {{chart.chart-widget labels=model.meta.labels chart_data=model.meta.data unit='°C' time=true type='line'}}
              {{else if (eq model.control_type.name 'no_2')}}
                {{chart.chart-widget labels=model.meta.labels chart_data=model.meta.data unit='NO2' time=true type='line'}}
              {{else if (eq model.control_type.name 'co_2')}}
                {{chart.chart-widget labels=model.meta.labels chart_data=model.meta.data unit='CO2' time=true type='line'}}
              {{else if (eq model.control_type.name 'electricity_socket')}}
                {{chart.chart-widget labels=model.meta.labels chart_data=model.meta.data unit='kWh' time=true type='line'}}
              {{/if}}

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        <strong>{{model.name}}</strong>
                        Control logs list
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Value</th>
                                <th>Created At</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each model.control_logs as |control_log|}}
                                <tr>
                                    <td>{{control_log.id}}</td>
                                    <td>{{control_log.value}}</td>
                                    <td>{{control_log.created_at}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{outlet}}
